@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(2, 3, 9);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);  
  background-color: #060606;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%2327232c' fill-opacity='0.93'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: Arial, Helvetica, sans-serif; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
