@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground:#080808;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);  
  font-family: Arial, Helvetica, sans-serif; 
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
